@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?d0lsbw');
    src:    url('../fonts/icomoon.eot?d0lsbw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?d0lsbw') format('truetype'),
    url('../fonts/icomoon.woff?d0lsbw') format('woff'),
    url('../fonts/icomoon.svg?d0lsbw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-toast_triangle:before {
    content: "\e93a";
}
.icon-baby:before {
    content: "\c91d";
}
.icon-done:before {
    content: "\e876";
}
.icon-zoom-in:before {
    content: "\e912";
}
.icon-star-empty:before {
    content: "\e913";
}
.icon-star-full:before {
    content: "\e914";
}
.icon-zoom-out:before {
    content: "\e915";
}
.icon-check-alt:before {
    content: "\e916";
}
.icon-arrow-long-down:before {
    content: "\e917";
}
.icon-arrow-long-left:before {
    content: "\e918";
}
.icon-arrow-long-right:before {
    content: "\e919";
}
.icon-play:before {
    content: "\e91a";
}
.icon-search:before {
    content: "\e91b";
}
.icon-notification:before {
    content: "\e91c";
}
.icon-plus:before {
    content: "\e91d";
}
.icon-minus:before {
    content: "\e91e";
}
.icon-cross:before {
    content: "\e91f";
}
.icon-checkmark:before {
    content: "\e920";
}
.icon-play3:before {
    content: "\e921";
}
.icon-checkbox-checked:before {
    content: "\e922";
}
.icon-checkbox-unchecked:before {
    content: "\e923";
}
.icon-radio-checked:before {
    content: "\e924";
}
.icon-radio-unchecked:before {
    content: "\e925";
}
.icon-icon_baby:before {
    content: "\e926";
}
.icon-icon_beauty:before {
    content: "\e927";
}
.icon-icon_clothes:before {
    content: "\e928";
}
.icon-icon_food:before {
    content: "\e929";
}
.icon-icon_health:before {
    content: "\e92a";
}
.icon-icon_life:before {
    content: "\e92b";
}
.icon-icon_person:before {
    content: "\e92c";
}
.icon-icon_shoppingcart:before {
    content: "\e92d";
}
.icon-icon_top:before {
    content: "\e92e";
}
.icon-arrow-long-up:before {
    content: "\e92f";
}
.icon-chevron-thin-down:before {
    content: "\e930";
}
.icon-chevron-thin-left:before {
    content: "\e931";
}
.icon-chevron-thin-right:before {
    content: "\e932";
}
.icon-chevron-thin-up:before {
    content: "\e933";
}
.icon-controller-record:before {
    content: "\e934";
}
.icon-clock:before {
    content: "\e935";
}
.icon-clock2:before {
    content: "\e936";
}
.icon-alarm:before {
    content: "\e937";
}
.icon-line:before {
    content: "\e938";
}
.icon-icon_close:before {
    content: "\e939";
}
.icon-triangle-left:before {
    content: "\f044";
}
.icon-triangle-right:before {
    content: "\f05a";
}
.icon-triangle-down:before {
    content: "\f05b";
}
.icon-chevron-right:before {
    content: "\f078";
}
.icon-chevron-up:before {
    content: "\f0a2";
}
.icon-chevron-down:before {
    content: "\f0a3";
}
.icon-chevron-left:before {
    content: "\f0a4";
}
.icon-triangle-up:before {
    content: "\f0aa";
}
.icon-bannericon_shandian:before {
    content: "\e900";
}
.icon-bannericon_zhengpin:before {
    content: "\e901";
}
.icon-banner_icon_dijia:before {
    content: "\e902";
}
.icon-banner_icon_shouhuo:before {
    content: "\e903";
}
.icon-icon_delete:before {
    content: "\e904";
}
.icon-icon_Info:before {
    content: "\e905";
}
.icon-icon_information:before {
    content: "\e906";
}
.icon-icon_reload:before {
    content: "\e907";
}
.icon-progressicon_aircraft:before {
    content: "\e908";
}
.icon-progressicon_apply:before {
    content: "\e909";
}
.icon-progressicon_comment:before {
    content: "\e90a";
}
.icon-progressicon_defeated:before {
    content: "\e90b";
}
.icon-progressicon_goods:before {
    content: "\e90c";
}
.icon-progressicon_manage:before {
    content: "\e90d";
}
.icon-progressicon_miajiatuihuo:before {
    content: "\e90e";
}
.icon-progressicon_pay:before {
    content: "\e90f";
}
.icon-progressicon_present:before {
    content: "\e910";
}
.icon-progressicon_succeed:before {
    content: "\e911";
}

